USE [master]
GO
/****** Object:  Database [DbVisit]    Script Date: 10/3/2024 3:11:03 PM ******/
CREATE DATABASE [DbVisit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbVisit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbVisit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbVisit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbVisit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbVisit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbVisit]
GO
/****** Object:  Table [dbo].[TblCountries]    Script Date: 10/3/2024 3:11:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCountries](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [varchar](50) NULL,
	[countryCapital] [varchar](50) NULL,
 CONSTRAINT [PK_TblCountry] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblFlights]    Script Date: 10/3/2024 3:11:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFlights](
	[flightId] [int] IDENTITY(1,1) NOT NULL,
	[flightDeparture] [int] NULL,
	[flightArrival] [int] NULL,
	[flightPrice] [decimal](18, 2) NULL,
	[flightCapacity] [tinyint] NULL,
	[flightDate] [smalldatetime] NULL,
	[flightDescripion] [nvarchar](max) NULL,
 CONSTRAINT [PK_TblFlights] PRIMARY KEY CLUSTERED 
(
	[flightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPersons]    Script Date: 10/3/2024 3:11:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPersons](
	[personId] [int] IDENTITY(1,1) NOT NULL,
	[personName] [varchar](50) NULL,
	[personCity] [varchar](50) NULL,
 CONSTRAINT [PK_TblPerson] PRIMARY KEY CLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblFlights]  WITH CHECK ADD  CONSTRAINT [FK_TblFlights_TblCountries] FOREIGN KEY([flightDeparture])
REFERENCES [dbo].[TblCountries] ([countryId])
GO
ALTER TABLE [dbo].[TblFlights] CHECK CONSTRAINT [FK_TblFlights_TblCountries]
GO
ALTER TABLE [dbo].[TblFlights]  WITH CHECK ADD  CONSTRAINT [FK_TblFlights_TblCountries1] FOREIGN KEY([flightArrival])
REFERENCES [dbo].[TblCountries] ([countryId])
GO
ALTER TABLE [dbo].[TblFlights] CHECK CONSTRAINT [FK_TblFlights_TblCountries1]
GO
/****** Object:  StoredProcedure [dbo].[flights]    Script Date: 10/3/2024 3:11:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[flights]
as
select c.countryCapital, a.countryCapital, flightPrice, 
flightCapacity, flightDate from TblFlights p
inner join TblCountries c on c.countryId = p.flightDeparture
inner join TblCountries a on a.countryId = p.flightArrival
GO
USE [master]
GO
